.footer {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        font-size: 18px;
        line-height: 18px;
        &__copyright {
            color: #8f8f8f;
        }
        &_address {
            display: flex;
        }
        &_socials {}
        &_policy {}
        &_developers {}
    }
}

.footer-address {
    &__icon {
        margin: 0 ;
    }
}
.socials {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
        background-image: url(/img/dest/footer/socials-item-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        &:not(:first-child) {
            margin: 0 0 0 15px;
        }
        &:hover {
            background-image: none;
            background-color: var(--accent-color);
        }
    }
    &__link {
        display: block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        transition: all .1s ease-in-out;
        &:hover {
            transition: all .1s ease-in-out;
        }
        &_vk {
            background-image: url(/img/dest/footer/vk-icon.png);
            &:hover {
                background-image: url(/img/dest/footer/vk-icon_white.png);
            }
        }
        &_instagram {
            background-image: url(/img/dest/footer/instagram-icon.png);
            &:hover {
                background-image: url(/img/dest/footer/instagram-icon_white.png);
            }
        }
        &_youtube {
            background-image: url(/img/dest/footer/youtube-icon.png);
            &:hover {
                background-image: url(/img/dest/footer/youtube-icon_white.png);
            }
        }
    }
}
