.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.container {
    max-width: 1430px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-small {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-large {
    max-width: 1640px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.primary-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    color: #fff;
    height: 56px;
    padding: 0 41px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    &:hover {
        transition: all .25s ease-in-out;
    }
}

.title {
    font-weight: 800;
    font-size: 48px;
    /* font-size: calc(32px + 16 * ((100vw - 375px) / (1920 - 375))); */
    line-height: 48px;
    color: var(--title-color);
}
.faded {
    transition: opacity .5s
}
.faded.in {
    opacity: 1;
    transition: opacity .5 s
}
.desc-text {
    font-weight: 300;
    line-height: 32px;
    color: var(--text-color);
}

.video {
    cursor: pointer;
    max-width: 805px;
    width: 100%;
    position: relative;
    transition: all .3s ease-in-out;
    img {
        width: 100%;
        height: auto;
    }
    &::before {
        position: absolute;
        content: '';
        inset: 15px;
        /* background-image: url(/img/dest/global/video-decor.png); */
        background-image: url(/img/dest/global/vider-bg-decor.png);
        transition: all .3s ease-in-out;
    }
    &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 118px;
        height: 120px;
        background-image: url(/img/dest/global/play-button_text.png);
        background-repeat: no-repeat;
        background-position: center;
        transition: all .3s ease-in-out;
    }
    &:hover {
        transition: all .3s ease-in-out;
        &::before {
            inset: 0;
        }
        &::after {
            transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
            transition: all .3s ease-in-out;
        }
    }
}

.poster {
    position: relative;
    cursor: pointer;
    max-width: 565px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 45px 60px 40px;
    background-repeat: no-repeat;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 1.219px 9.925px 32px 0px rgba(18, 131, 56, 0.35);
    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: var(--title-color);
        margin: 0;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--text-color);
        margin: 20px 0 0 0;
    }
    &_schema {
        background-image: url(/img/dest/poster/poster-schema-bg_wood.png);
        background-size: cover;
        .poster__title {
            max-width: 345px;
        }
    }
    &_manufacturing {
        background-image: url(/img/dest/poster/parts-manufacturing-bg.png);
        .poster__title {
            max-width: 345px;
        }
        .poster__text {
            max-width: 345px;
        }
    }
    &_facades {
        background-image: url(/img/dest/poster/production-facades-bg.png);
        .poster__title {
            max-width: 355px;
        }
        .poster__text {
            max-width: 345px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        transition: all .25s ease-in-out;
    }
    &:hover {
        text-decoration: none;
        color: var(--white-text);
        .poster__title {
            z-index: 3;
        }
        &::before {
            background-color: rgba(18, 131, 56, .15);
            transition: all .25s ease-in-out;
        }
    }
}
.details-order {
    position: relative;
    max-width: 565px;
    background-image: url(/img/dest/forms/details-order-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 60px 50px;
    box-shadow: 0px 32px 64px 0px rgba(224, 224, 224, 0.4);
    &::before {
        content: '';
        position: absolute;
        top: -35px;
        right: 0;
        width: 213px;
        height: 287px;
        background-image: url(/img/dest/forms/details-order-decor.png);
        background-repeat: no-repeat;
    }
    &__text {
        max-width: 270px;
        font-size: 16px;
        line-height: 28px;
        margin: 0 0 30px;
    }
    &__btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 28px;
        color: var(--white-color);
        padding: 14px 42px;
        border-radius: 3px;
        background-image: linear-gradient( 4deg, #128338 0%, #2db732 100%);
        box-shadow: 1.219px 9.925px 40px 0px rgba(114, 91, 41, 0.64),inset 0px -3px 0px 0px rgba(18, 131, 56, 0.16);
        text-decoration: none;
        text-transform: uppercase;
        transition: all .25s ease-in-out;
        &:hover {
            color: var(--white-color);
            background-image: linear-gradient( 4deg, #107632 0%, #29a52d 100%);
            text-decoration: none;
            transition: all .25s ease-in-out;
        }
    }
}
.breadcrumbs {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 30px 0 20px;
    margin: 0;
    &__item {
        position: relative;
        font-weight: 700;
        font-size: 14px;
        line-height: 48px;
        letter-spacing: 0.008em;
        color: #9d9d9d;
        padding: 0 0 0 20px;
        &:not(:first-child) {
            margin-left: 40px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-image: url(/img/dest/global/breadcrumbs/breadcrumbs-arrow.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__link {
        font-size: 14px;
        line-height: 48px;
        color: #9d9d9d;
        text-decoration: none;
        transition: all .25s ease-in-out;
        &:hover {
            color: var(--text-color);
            transition: all .25s ease-in-out;
        }
    }
}

.question-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    width: 100%;
    background-image: url(/img/dest/forms/question-form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 45px 65px;
    margin: 0 auto;
    border-radius: 3px;
    &::before {
        content: "";
        position: absolute;
        top: -49px;
        right: 0;
        width: 270px;
        height: 242px;
        background-image: url(/img/dest/forms/question-decor.png);
        background-repeat: no-repeat;

    }
    &__text {
        flex: 0 0 385px;
        color: var(--white-color);
        margin: 0 30px 0 0;
    }
    &__title {
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 20px 0;
    }
    &__description {
        font-size: 16px;
        line-height: 26px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 325px;
    }
    &__field {
        position: relative;
    }
    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.008em;
        color: #3ab54b;
        text-transform: uppercase;
    }
    &__input {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: var(--text-color);
        border-radius: 2px;
        background-color: #fff;
        padding: 15px 60px 15px 20px;
        border: none;
        &::placeholder {
            font-weight: 400px;
            font-size: 14px;
        line-height: 26px;
            color: #cecece;
        }
          
    }
    &__submit {
        cursor: pointer;
        position: absolute;
        top: 9px;
        right: 9px;
        width: 40px;
        height: 40px;
        background-color: #ededed;
        background-image: url(/img/dest/forms/send-msg-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        border: none;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: var(--accent-color);
            background-image: url(/img/dest/forms/send-msg-icon_white.png);
            transition: all .3s ease-in-out;
        }
    }
}