@media screen and (max-width: 1685px) {
    .nav__phone {
        margin: 0 0 0 60px;
    }
}
@media screen and (max-width: 1660px) {
    .rent-page__description {
        padding: 60px 0;
    }
    .header {
        &__callback-btn {
            margin: 0 0 0 5px;
        }
    }
    .nav {
        justify-content: space-between;
        padding: 30px 15px;
        margin: 0 -15px;
        &__list {
            margin: 0 0 0 15px;
        }
        &__item {
            &:not(:first-child) {
                margin: 0 0 0 20px;
            }
        }
        &__phone {
            margin: 0 0 0 5px;
        }
        
    }
}
@media screen and (max-width: 1450px) {
    .nav-logo {
        &__title {
            font-size: 20px;
            line-height: 44px;
        }
        &__sub-title {
            font-size: 9px;
        }
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
   
    .rent-advantages__list {
        gap: 30px 100px;
    }
    .title {
        font-size: calc(32px + 16 * ((100vw - 375px) / (1920 - 375)));
    }
    .footer {
        padding: 50px 0 40px;
        &__list {
            justify-content: space-between;
            
        }
        &__item {
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
    .header {
        &__callback-btn {
            .primary-btn {
                padding: 0 21px 0 47px;
                &::before {
                    left: 21px;
                }
            }
           
        }
    }
    .nav__item:not(:first-child) {
        margin: 0 0 0 15px;
    }
    .nav-phone {
        &__icon {
            width: 12px;
            height: 12px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__link {
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 1442px) {
    .welcome-rent {
        background-image: none;
    }
    .welcome-rent__poster {
        margin: 0 30px 0 0;
    }
    .welcome-rent__head {
        flex: 0 0 auto;
    }
}
@media screen and (max-width: 1350px) {
    .welcome-blog__header {
        max-width: 920px;
        margin: 0 auto 40px;
    }
    .welcome-blog-slider {
        max-width: 920px;
        margin: 0 auto;
    }
    .desktop-menu .nav__list {
        display: none;
    }
    .mobile-menu .nav__list {
        display: flex;
    }
    .nav__phone {
        margin: 0 0 0 auto;
    }
    .burger {
        display: flex;
    }
}
@media screen and (max-width: 1300px) {
    .contacts.welcome-contacts {
        padding: 0 0 95px 0;
    }
   
    .welcome-blog {
        padding: 60px 0;
    }
    .welcome-rent__footer {
        padding: 90px 0 0;
    }
    .welcome-rent__header {
        margin: 0 0 60px 0;
    }
    .welcome-rent {
        padding: 30px 0;
    }
    .welcome-header {
        background-image: none;
        padding: 0 0 30px;
    }
    .header {
        &__content {
            flex-direction: column;
            padding: 0;
            margin: 0;
        }
        &__about {
            display: flex;
            justify-content: space-between;
            max-width: 100%;
        }
        &__video {
            display: flex;
            justify-content: center;
            background-image: url(/img/dest/header/header-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 60px 15px;
            margin: 0 -15px;
        }
    }
    .header-about {
        padding: 60px 0;
        margin: 0;
        &__content {
            max-width: 475px;
            margin: 0 30px 0 0;
        }
        &__text {
            margin: 0 0 30px 0;
        }
    }
    .header-stats {
        width: 100%;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        align-items: center;
        gap: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .rent-advantages__list {
        gap: 30px 60px;
    }
    .poster_schema {
        padding: 30px;
    }
    .welcome-prod__content,
    .welcome-prod__cards {
        max-width: calc(50% - 15px);
        flex: 0 0 565px;
    }
    
}
@media screen and (max-width: 1100px) {
    
    .welcome-rent__footer .poster {
        padding: 30px;
    }
    .welcome-rent__footer .details-order {
        padding: 30px;
    }
    .welcome-rent__footer .details-order::before {
        width: 153px;
        height: 227px;
        background-size: cover;
    }
}
@media screen and (max-width: 1000px)  {
    .header-about__content {
        max-width: 50%;
    }
    .header-stats {
        width: 50%;
    }
}
@media screen and (max-width: 957px) {
    .welcome-rent {
        &__footer {
            flex-direction: column-reverse;
        }
    }
    .welcome-prod__cards, .welcome-prod__content {
        max-width: 100%;
        flex: 0;
    }
    .welcome-prod__content {
        justify-content: start;
    }
    .welcome-prod__header {
        padding: 0;
        margin: 0 0 50px 0;
    }
    .welcome-prod__content {
        margin: 0 0 30px 0;
    }
    .footer {
        &__list {
            justify-content: start;
        }
    }
    .footer__item_developers,
    .footer__item_address,
    .footer__item_socials {
        margin-left: 30px;
    }
    .welcome-rent__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcome-rent__head {
        order: 1;
        text-align: center;
    }
    .welcome-rent__poster {
        order: 2;
        margin: 0;
    }
}
@media screen and (max-width: 950px) {
    .rent-advantages__list {
        gap: 30px 30px;
    }
    .welcome-blog__header {
        max-width: 445px;
    }
    .welcome-blog-slider {
        max-width: 445px;
    }
}
@media screen and (max-width: 850px) {
    .header__about {
        flex-direction: column;
    }
    .header-about__content {
        max-width: 100%;
    }
    .header-stats {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .header__callback-btn {
        display: none;
    }
    .mobile-menu .header__callback-btn {
        display: flex;
    }
}
@media screen and (max-width: 776px) {
    .rent-advantages__list {
        grid-template-columns: repeat(2,1fr);
        gap: 30px 40px;

    }
    .footer__item_address {
        margin-right: 20px;
    }
    .footer__item_socials {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 596px) {
    .footer__item_address {
        margin-left: 0;
    }
}
@media screen and (max-width: 565px) {
    .welcome-rent__footer .poster {
        padding: 20px;
    }
    .poster {
        max-width: 100%;
        padding: 15px;
    }
}
@media screen and (max-width: 530px) {
    .nav__phone {
        display: none;
    }
    .mobile-menu .nav__phone {
        display: flex;
    }
} 
@media screen and (max-width: 487px) {
    .rent-advantages__list {
        grid-template-columns: 1fr;
        gap: 20px;

    }
    .footer__item_developers {
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .header-stats {
        gap: 30px 10px;
    }
}