.work-shop {
    &__container {}
    &__nav {}
    

}

.work-shop-sliders {
    &__nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        background-color: rgba(249, 249, 249, .6);
        border-radius: 3px;
        padding: 16px 0 6px;
        margin: 0 0 -72px 0;
        z-index: 2;
    }
    &__nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:first-child) {
            margin: 0 0 0 55px;
        }
    }
    &__nav-link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        font-size: 16px;
        line-height: 32px;
        padding: 4px 16px;
        margin: 0 0 10px 0;
        color: var(--accent-color);
        span {
            position: relative;
            display: block;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 5px;
                border-bottom: 1px dotted var(--accent-color);
            }
        }
        &:hover {
            cursor: pointer;
            color: var(--text-color);
            background-color: var(--white-color);
            text-decoration: none;
            span::before {
                display: none;
            }
        }
        &_active {
            color: var(--text-color);
            background-color: var(--white-color);
            &:hover {
                color: var(--text-color);
                cursor: initial;
            }
            span::before {
               display: none;
            }
        }
    }
    &__tab-list {
        margin: 0 0 130px 0;
    }
    &__tab {
        display: none;
        &_active {
            display: block;
        }
    }
}

.work-shop-slider {
    &__main {
        height: 770px;
        .swiper-slide {
            position: relative;
            /* img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            } */
        }
    }
    &__main-nav {
        position: relative;
        inset: 0;
        &.swiper-button-next {
            position: relative;
            min-width: 50px;
            width: 87px;
            height: 96px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            
        }
        &.swiper-button-prev {
            position: relative;
            min-width: 50px;
            width: 87px;
            height: 96px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            
        }
        &.swiper-button-prev {
            left: auto;
            top: auto;
            margin-top: 0;
            /* left: -87px;
            top: 100%;
            margin-top: -96px; */
            background-image: url(/img/dest/global/slider/arrow-left.png);
            border-radius: 3px 0 0 0;
        }
        &.swiper-button-prev.swiper-button-disabled {
            background-image: url(/img/dest/global/slider/arrow-left_disabled.png);
            opacity: 1;
        }
        &.swiper-button-next {
            right: auto;
            top: auto;
            margin-top: 0;
           /*  right: -87px;
            top: 100%;
            margin-top: -96px; */
            background-image: url(/img/dest/global/slider/arrow-right.png);
            border-radius: 0 3px 0 0;
        }
        &.swiper-button-next.swiper-button-disabled {
             background-image: url(/img/dest/global/slider/arrow-right_disabled.png);
             opacity: 1;
        }
    }
    &__thumbs-container {
        max-width: calc(990px + 174px);
        display: flex;
        justify-content: center;
        position: relative;
        margin: -96px auto 0;
    }
    &__thumbs {
        max-width: 990px;
        margin: 0 auto;
        height: 96px;
        background-color: #f9f9f9;
        padding: 16px 15px !important;
        overflow: visible;
        .swiper-slide {
            cursor: pointer;
            width: 64px;
            height: 64px;
            &.swiper-slide-thumb-active {
                .work-shop-slider__thumbs-item {
                    &::before {
                        content: '';
                        position: absolute;
                        inset: 0;
                        border: 2px solid var(--accent-color);
                        background-color: rgb(26, 146, 54);
                        opacity: .48;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        border: 2px solid var(--accent-color);
                    }
                    
                }
            }
        }
    }
    &__thumbs-item {
        position: relative;
        width: 64px;
        height: 64px;
        transition: all .3s ease-in-out;
        &:hover {
            transition: all .3s ease-in-out;
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 2px solid var(--accent-color);
                background-color: rgb(26, 146, 54);
                opacity: .48;
            }
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                border: 2px solid var(--accent-color);
            }
        }
    }
}


.work-area-info {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 55px 60px 45px 40px;
    margin: 0 0 65px 0;
    &__wrapper {}
    &__left {
        max-width: 415px;
        width: calc(50% - 15px);
    }
    &__right {
        width: calc(50% - 15px);
    }
    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        margin: 0 0 35px 0;
    }
    &__badges {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0 0 15px 0;
    }
    &__badge {
        font-weight: 800;
        font-size: 16px;
        line-height: 32px;
        background-color: #f9f9f9;
        padding: 0 16px;
        margin: 0 0 15px 0;
        &:not(:first-child) {
            margin: 0 0 15px 15px;
        }
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #393939;
        margin: 0 0 60px 0;
    }
    &__price {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        color: #393939;
        margin: 0 0 20px 0;
        span {
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            color: #393939;
        }
    }
    &__list {
        max-width: 480px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px 0;
        list-style: none;
        padding: 0;
        margin: 10px 0 55px 0;
    }
    &__list-reklama {
        max-width: 100%;
        grid-template-columns: repeat(4,1fr);
        gap: 30px 100px;
        margin: 0 0 130px 0;
    }
    &__list-item {
        font-size: 18px;
        line-height: 24px;
    }
    &__list-icon {
        margin: 0 0 15px 0;
    }
    &__btn {
        .primary-btn {
            position: relative;
            background-image: linear-gradient(8deg,#128338 0,#34c630 100%);
            padding: 0 41px 0 67px;
            box-shadow: 0.487px 3.97px 16px 0px rgba(14, 176, 68, 0.24),inset 0px -3px 0px 0px rgba(18, 131, 56, 0.16);
            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                top: 50%;
                left: 41px;
                transform: translateY(-50%);
                background-image: url(/img/dest/forms/question-btn-icon.png);
            }
            &:hover {
                background-image: linear-gradient( 8deg, #107632 0%, #29a52d 100%);
            }
        }
    }
}
    
.floors {
    &__header {
        max-width: 1040px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 48px;
        margin: 0;
    }
    &__nav {}
    
}

.floor-nav {
    display: flex;
    &__wrapper {
        background-color: #fff;
    }
    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        color: var(--white-color);
        background-color: var(--accent-color);
        padding: 4px 80px;
        text-decoration: none;
        transition: all .3s ease-in-out;
        &:first-child {
            border-radius: 3px 0 0 0;
        }
        &:last-child {
            border-radius: 0 3px 0 0;
        }
        &_active {
            color: var(--text-color);
            background-color: var(--white-color);
            transition: all .3s ease-in-out;
        }
        &:hover {
            color: var(--text-color);
            text-decoration: none;
            background-color: rgba(18, 131, 56, .1);
            transition: all .3s ease-in-out;
            &.floor-nav__link_active {
                color: var(--text-color);
                background-color: var(--white-color);
                transition: all .3s ease-in-out;
            }
        }
    }
    &__tabs {
        padding: 120px 0;
    }
    &__tab {
        display: none;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        svg {
            position: absolute;
            inset: 0;
        }
        &_active {
            display: block;
        }
    }
}

.floor-room {
    opacity: 0;
    &:hover {
        cursor: pointer;
        fill: #ffedb9 !important;
        opacity: .4
    }
}